.contact {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  margin-top: 32px;
  padding-bottom: 32px;
  &:first-child{
    margin-top: 0;
  }
  &:last-child {
    border: none;
  }
}
.contactParagraph {
  display: flex;
  align-items: center;
  .contactSpan {
    margin-left: 20px;
  }
}
.image {
  color: #000;
}
